   .codeButton {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #ccc;
    flex: 1 0 40px; /* This ensures each button has a minimum width of 40px */
  }

  #gameFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: brown;
    padding: 20px;
    border-radius: 10px;
    width: 340px;
    height: 440px;
  }
  
  #keysPressedDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  

  .attempt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
  }
  
  .attempt p {
    margin: 0;
    font-size: 16px;
    color: black;
    font-weight: 700;
  }
  
  .feedback {
    display: flex;
    justify-content: flex-end;
  }
  
  .feedback span {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: gray;
  }
  span.correct {
    background-color: black;
  }
  span.almost {
    background-color: white;
  }
  #button-1 {
    background-color: red;
    color: black;
  }
  
  #button-2 {
    background-color: blue;
    color: black;
  }
  
  #button-3 {
    background-color: green;
    color: black;
  }
  
  #button-4 {
    background-color: yellow;
    color:black;
  }
  
  #button-5 {
    background-color: orange;
    color: black;
  }
  
  #button-6 {
    background-color: purple;
    color: black;
    }
  
  #button-7 {
    background-color: pink;
    color: black;
  }
  
  #button-8 {
    background-color: brown;
    color: black;
  }
  
  #button-9 {
    background-color: gray;
    color: black;
  }
  
  #button-0 {
    background-color: black;
    color: white;
  } 

  #gameFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: brown;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 340px;  
    height: 440px;  
  }
  
  #keysPressedDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    
    font-size: 16px;
    font-weight: 700;
  }
  
  #keysPressedDisplay p {
    margin: 0;
    font-size: 18px;
  }
  
  #deleteButton, #resetButton {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: grey;
    border-radius: 8px;
  }
  
  .colorButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 340px;
    padding: 10px;
    margin-top: 20px;
  }
  
  .codeButton {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #ccc;
    flex: 1 0 40px; /* This ensures each button has a minimum width of 40px */
  }
  
  .attempt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
  }
  
  .attempt p {
    margin: 0;
    font-size: 16px;
    color: black;
    font-weight: 700;
  }
  
  .feedback {
    display: flex;
    justify-content: flex-end;
  }
  
  .feedback span {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: gray;
  }
  
  span.correct {
    background-color: black;
  }
  
  span.almost {
    background-color: white;
  }
  
  #button-1 {
    background-color: red;
    color: black;
  }
  
  #button-2 {
    background-color: blue;
    color: black;
  }
  
  #button-3 {
    background-color: green;
    color: black;
  }
  
  #button-4 {
    background-color: yellow;
    color: black;
  }
  
  #button-5 {
    background-color: orange;
    color: black;
  }
  
  #button-6 {
    background-color: purple;
    color: black;
  }
  
  #button-7 {
    background-color: pink;
    color: black;
  }
  
  #button-8 {
    background-color: brown;
    color: black;
  }
  
  #button-9 {
    background-color: gray;
    color: black;
  }
  
  #button-0 {
    background-color: black;
    color: white;
  }
  #finalMessage {
    font-size: 16px;
    font-weight: 700;
  }
  